version: '3'

services:
  db:
    restart: always
    image: postgres:latest
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/

  web:
    restart: always
{%if CI_COMMIT_REF_NAME == master %}
    image: {{CI_REGISTRY_IMAGE}}:app_prod{{CI_COMMIT_SHORT_SHA}}
{%if CI_COMMIT_REF_NAME == dev %}
    image: {{CI_REGISTRY_IMAGE}}:app_dev{{CI_COMMIT_SHORT_SHA}}
{%endif%}
    expose:
      - "8000"
    volumes:
      - web-django:/usr/src/
      - web-static:/usr/src/static/
    command: /usr/local/bin/gunicorn Blog.wsgi:application -w 2 -b :8000
    depends_on:
      - db
    links:
      - db:db

  nginx:
    restart: always
    image: {{CI_REGISTRY_IMAGE}}:nginx{{CI_COMMIT_SHORT_SHA}}
    ports:
      - 8000:8000
    volumes:
      - web-static:/static
    links:
      - web:web

volumes:
  web-django:
  web-static:
  pgdata:
